<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>
<body>

  <h1>Page:</h1>
  {% body %}

  <h1>Data:</h1>
  <ul>
    <li>title: {{title}}</li>
    <li>one.title: {{one.title}}</li>
    <li>two.title: {{two.title}}</li>
    <li>defaults.title: {{defaults.title}}</li>
  </ul>
</body>
</html>
